<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guang_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,598},{390,294}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,83},{390,294}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,990},{390,294}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,83},{390,294}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1382},{390,294}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,83},{390,294}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,990},{388,296}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,81},{388,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1382},{388,296}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,81},{388,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,598},{390,296}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,81},{390,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,300},{390,296}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,81},{390,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,300},{390,296}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,81},{390,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,300},{392,296}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,81},{392,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,300},{392,296}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,81},{392,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{394,296}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,81},{394,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{396,296}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,81},{396,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{396,296}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,81},{396,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,296}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,81},{396,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,2},{394,296}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,81},{394,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{394,296}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,81},{394,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{392,296}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,81},{392,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{392,296}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,81},{392,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{392,296}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,81},{392,296}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>guang_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,990},{390,294}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,83},{390,294}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>lixianshouyi_bg_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1774},{221,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,221}}</string>
                <key>sourceSize</key>
                <string>{221,221}</string>
            </dict>
            <key>lixianshouyi_icon_shiping.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,2},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>light.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:983c78f863b968e559cdc5adaa612d17$</string>
            <key>textureFileName</key>
            <string>light.png</string>
        </dict>
    </dict>
</plist>
